.wp-block-dvs-content-block {
  padding: pxrem(20);
  border-radius: pxrem(30);
  backdrop-filter: blur(1rem);
  @include column;
  gap: pxrem(20);

  &.has-border {
    border: 2px solid currentcolor;
  }

  & + .wp-block-dvs-content-block {
    margin-top: pxrem(20);
  }

  > * {
    margin: 0;
    &:first-child {
      margin-top: 0;
    }
  }
}