.wp-block-dvs-content-block {
  padding: pxrem(20);
  border-radius: pxrem(30);
  //border: 2px solid var(--text-color, black);
  //background: red;
  //@include glassmorphism-border;
  & + .wp-block-dvs-content-block {
    margin-top: pxrem(20);
  }
}