.has-dark-blue-background-color .wp-block-dvs-number-item {
  background: unset;
  &:after {
    background: linear-gradient(108deg, rgba(255, 255, 255, 0.10) 3.46%, rgba(255, 255, 255, 0.04) 96.7%);
  }
}

.wp-block-dvs-number-item {
  border-radius: pxrem(15);
  padding: pxrem(30);
  margin: pxrem(20) 0;

  @include glassmorphism-border;
  background: linear-gradient(315deg, rgba(6, 52, 93, 0.8), rgba(6, 52, 93, 0.8));

  @include column;
  gap: pxrem(10);

  strong {
    font-size: pxrem(50);
    font-weight: 300;
    color: var(--color-white);

    b, strong {
      font: inherit;
    }
  }

  > p {
    font-weight: 400;
    font-size: pxrem(16);
    margin: 0;
    color: var(--color-white-light);

    strong {
      font: inherit;
      color: var(--color-white);
    }

  }
}