.realisation-map {

  position: relative;

  .map-container {
    @include container-fluid-margin;
    min-height: 90vh;
    background: var(--color-white);
    isolation: isolate;
    .region {
      fill: currentColor !important;
      fill-opacity: 1 !important;
      color: var(--color-dark-blue);
      &.active {
        color: var(--color-dark-blue-1);
      }
    }

    .location-point, .realisation-map {
      opacity: 0;
      transition: opacity 0.5s ease;
      pointer-events: none;
      span {
        transform: translateY(-1rem);
        transition: all 0.5s ease;
      }
      &.active {
        opacity: 1;
        span {
          transform: translateY(0);
        }
      }
    }

    .location-point span {
      display: block;
      width: pxrem(8) !important;
      height: pxrem(8) !important;
      border-radius: 50%;
      background: var(--color-light-blue);
      border: 2px solid var(--color-white);
      pointer-events: none;
    }

    .realisation-point span {
      display: block;
      width: pxrem(10);
      height: pxrem(10);
      border-radius: 50%;
      background: var(--color-light-blue);
      position: relative;

      &:after {
        position: absolute;
        content:"";
        transform: translate(-50%, -50%);
        left: 50%;
        top: 50%;
        width: pxrem(18);
        aspect-ratio: 1;        border: 3px solid var(--color-white);
        border-radius: 50%;
      }
    }

  }

  .realisations {
    z-index: 100;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: fit-content;
    .swiper {
      @include container-fluid-margin;
      padding: 1rem;
    }
  }
}