body {
  //padding-bottom: calc(var(--planet-size) + 6rem);
  overflow-x: hidden;

  &.single-resource {
    background: var(--color-dark-blue);
    color: var(--color-white);
  }

  #page #content {
    padding-top: calc(var(--header-height) + 30px);

    #primary {
      overflow: hidden;
      #main {
        @include container;

        .alignfull {
          margin: 0 calc(var(--container-width) * 0.5 - 50vw);
        }
      }
    }
  }

}