:root {
  --background-color: #eaeaea;
  --text-color: black;
  --color-white: #fff;
  --color-white-light: rgba(255, 255, 255, 0.6);
  --color-black: #000;
  --color-grey: rgba(0, 0, 0, 0.6);
  --color-grey-light: rgba(0, 0, 0, 0.8);
  --color: var(--color-white);
}

body {
  background: var(--background-color);
  color: var(--text-color);
  font-weight: 300;
}

.has-white-color {
  --text-color: white;
}