<div class="alert alert-{{ level }}">
    <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 40 40" fill="none">
        <path fill-rule="evenodd" clip-rule="evenodd" d="M14.5149 7.41412C16.8639 3.39528 22.7365 3.39529 25.0855 7.41412L35.5735 25.3576C37.9225 29.3765 34.9862 34.4 30.2882 34.4H9.31221C4.61418 34.4 1.67792 29.3764 4.02694 25.3576L14.5149 7.41412ZM22.7732 8.73281C21.4518 6.47221 18.1485 6.47221 16.8272 8.7328L6.33925 26.6763C5.01793 28.9369 6.66957 31.7626 9.31221 31.7626H30.2882C32.9308 31.7626 34.5825 28.9369 33.2611 26.6763L22.7732 8.73281ZM19.8956 12.5121C20.6329 12.5121 21.2306 13.1025 21.2306 13.8308L21.2306 22.818C21.2306 23.5463 20.6328 24.1367 19.8955 24.1367C19.1582 24.1367 18.5605 23.5463 18.5605 22.818L18.5606 13.8307C18.5606 13.1025 19.1583 12.5121 19.8956 12.5121ZM19.8956 25.9263C20.6329 25.9263 21.2306 26.5167 21.2306 27.245V27.3392C21.2306 28.0675 20.6329 28.6579 19.8956 28.6579C19.1583 28.6579 18.5606 28.0675 18.5606 27.3392V27.245C18.5606 26.5167 19.1583 25.9263 19.8956 25.9263Z" fill="white"/>
    </svg>
    <div class="message">
        {{ message }}
    </div>
</div>