.wp-block-buttons {
  margin: pxrem(60) 0;
  .wp-element-button {
    padding: pxrem(10) pxrem(20);
    border: 1px solid var(--text-color);
    color: var(--text-color);
    background: transparent;
    font-weight: 900;
    text-transform: uppercase;
    font-size: pxrem(16);
  }
}