.wp-block-cover {
  //@include container;
  width: 100vw;
  max-width: 100%;
  padding: pxrem(20);
  padding-bottom: 40vh;
  .wp-block-cover__inner-container {
    padding: pxrem(35) pxrem(30);
    border: 1px solid rgba(255,255,255,0.2);
    @include glassmorphism;

    &, &:after, &:before {
      border-radius: pxrem(30);
    }

    > {
      @include headings {
        line-height: 1em;
        margin: 0;
      }
    }
    > hr {
      opacity: 0.1;
    }
    > .wp-block-buttons {
      width: 100%;
      margin: 0;
      .wp-element-button {
        width: 100%;
      }
    }
  }
}