:root {
  --color-white: #fff;
  --color-white-light: rgba(255, 255, 255, 0.6);
  --color-white-ultralight: rgba(255, 255, 255, 0.2);
  --color-light-grey: #eaeaea;
  --background-color: var(--color-white);
  --color-black: #000;


  --color-grey: rgba(6, 52, 93, 0.8);
  --color-grey-light: rgba(6, 52, 93, 0.5);

  --color: var(--color-white);
  --glass-morphism: linear-gradient(108deg, rgba(255, 255, 255, 0.05) 3.46%, rgba(255, 255, 255, 0.02) 96.7%);

  --color-wp-blue: #007cba;
  --color-light-blue: #36A9E1;
  --color-light-blue-0:#d2eefc;
  --color-light-blue-1: #c9e1ef;
  --color-light-blue-2: #e6ebef;
  --color-dark-blue: #06345D;
  --color-dark-blue-1: #206e9e;
  --color-dark-blue-2: #165fa9;
  //--color-light-blue-0: #c4e9fb;

  --text-color: var(--color-dark-blue);
}
