.is-content-justification-center {
  align-items: center !important;
}

.is-content-justification-left {
  align-items: flex-start !important;
}

.is-content-justification-right {
  align-items: flex-end !important;
}
