@import "abstracts/variables";
@import "abstracts/mixins";
@import "abstracts/bootstrap";
@import "abstracts/wordpress-blocks";

@import "base/reset";
@import "base/fonts";
@import "base/theme";
@import "base/layout";

@import "blocks/blocks";
@import "frontend/blocks/blocks";

@import "frontend/layout/header";
@import "frontend/layout/footer";

@import "frontend/pages/post";
@import "frontend/pages/testimony";
@import "frontend/pages/realisation";
@import "frontend/pages/popup";

#wpadminbar {
  display: none !important;
}
html {
  margin-top: 0 !important;
}
body{
  &.home #page #content {
    padding-top: 0;
  }
}