footer {
  position: relative;
  overflow: hidden;
  @include column(center);

  padding-top: pxrem(128);
  padding-bottom: var(--footer-padding-bottom);

  --footer-padding-bottom: 4rem;
  --background-color: black;
  --text-color: white;
  color: var(--text-color);

  @include nomobile {
    overflow: hidden;
    .planet-bottom {
      display: none;
    }
  }

  .wrapper {
    z-index: 2;
    @include container;
    @include column(center);

    .logos {
      @include column(center);
      gap: pxrem(24);
      margin-bottom: pxrem(24);
    }

    .content {
      padding: pxrem(20);
      background: linear-gradient(108deg, rgba(255, 255, 255, 0.05) 3.46%, rgba(255, 255, 255, 0.02) 96.7%);
      box-shadow: 0px 4px 40px 0px rgba(0, 0, 0, 0.10);
      border-radius: pxrem(15);
      @include column();
      gap: pxrem(40);

      .information {
        @include column;
        gap: pxrem(10);
        margin-left: pxrem(-5);

        > * {
          @include row(flex-start, center);
          gap: pxrem(10);
          font-weight: 800;
          font-style: normal;

          a {
            color: inherit;
            text-decoration: none;
          }

          address {
            font: inherit;
          }
        }
      }
    }

    .navigation {
      width: 100%;
      @include column;
      gap: pxrem(10);

      h3 {
        text-transform: uppercase;
        color: var(--color-white-light);
        margin: 0;
      }

      ul {
        padding: 0;
        margin: 0;
        display: contents;

        li {
          list-style: none;

          a {
            color: inherit;
            text-decoration: none;
          }
        }
      }

      hr {
        width: 100%;
        height: 2px;
        background: var(--color-white-light);
        border: unset;
      }
    }

    .socials {
      @include row(center);
      gap: pxrem(10);
    }

    .legal-navigation {
      a {
        font-size: pxrem(14);
        color: inherit;
        text-decoration: unset;
      }
    }

    .copyright {
      font-size: pxrem(14);
      color: inherit;
      text-decoration: unset;
    }
  }

  .planet-single {
    position: absolute;
    transform: translate(-50%, 0%);
    left: 50%;
    top: pxrem(64);
    z-index: 1;
    width: 100%;
    height: 100%;
    isolation: isolate;

    figure {
      --planet-size: 300vw;
      position: relative;
      width: 100%;
      height: 100%;

      &:before {
        content: "";
        position: absolute;
        width: var(--planet-size);
        aspect-ratio: 1;
        left: 50%;
        transform: translateX(-50%);
        border-radius: var(--planet-size);
        background: linear-gradient(180deg, #BDF1FF 0%, #36A9E1 7.5%, #06345D 27.5%, #000 66%);
        filter: blur(1rem);
      }

      &:after {
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        top: calc(var(--planet-size) / 2);
        left: 0;
        background: var(--color-black);
        z-index: -1;
      }
    }
  }

  .planet-top {
    position: absolute;
    transform: translate(-50%, 0%);
    left: 50%;
    top: pxrem(64);
    z-index: 1;

    figure {
      @include planet;
      --planet-size: 120vw;
    }
  }

  .planet-bottom {
    position: absolute;
    transform: translate(-50%, 0%) rotate(180deg);
    left: 50%;
    bottom: calc(var(--footer-padding-bottom) + 7rem);
    z-index: 0;

    figure {
      @include planet;
      --planet-size: 120vw;
    }
  }
}