<div class="simulator" data-calculator="{{ calculator }}">
    <div class="step">
        <div class="map-container"></div>
    </div>
    <div class="simulator-results">
        <div>
            <strong>Surface totale</strong>
            <div><span class="area">0</span>m²</div>
        </div>
        <div>
            <strong>Facteur d'ensoleillement</strong>
            <div><span class="sunshineFactor">0</span></div>
        </div>
        <div>
            <strong>Production potentielle</strong>
            <div><span class="parkingPotentialKwc">0</span>kWc</div>
        </div>
{#        <div>#}
{#            <strong>Production potentielle</strong>#}
{#            <div><span class="areaPotentialKwc">0</span></div>#}
{#        </div>#}
        <div>
            <strong>Coût estimé</strong>
            <div><span class="estimatedCost">0</span>€</div>
        </div>
        <div>
            <strong>Places de parking</strong>
            <div><span class="parkingLots">0</span></div>
        </div>
        <div>
            <strong>Production annuelle estimée</strong>
            <div><span class="yearlyKwh">0</span>kWh</div>
        </div>
        <div>
            <strong>Production totale</strong>
            <div><span class="totalProduction">0</span>Mwh</div>
        </div>
    </div>
</div>
