.realisation-item {
  border-radius: pxrem(30);
  //background: var(--color-light-blue-0);
  border: 2px solid var(--color-light-blue-1);
  padding: pxrem(20);

  background: linear-gradient(108deg, rgba(170, 223, 249, 0.56) 3.46%, rgba(170, 223, 249, 0.32) 96.7%);
  backdrop-filter: blur(30px);
  border: 2px solid rgba(170, 223, 249, 0.70);


  //@include column;
  //gap: pxrem(20);

  figure {
    aspect-ratio: 290/160;
    width: 100%;
    margin: 0;
    img {
      @include imgFit(cover);
      border-radius: pxrem(15);
    }
  }

  h3 {
    margin: pxrem(10) 0;
  }
  .badges {
    @include row;
    flex-wrap: wrap;
    gap: pxrem(5);
    .badge {
      padding: 0.2em 0.4em;
      border-radius: 0.4em;
      background: var(--color-dark-blue);
      color: var(--color-white);
    }
  }
  .more {
    @include row(flex-end, center);
    gap: pxrem(20);
    margin-left: auto;
    font-weight: 800;
    text-decoration: unset;
    color: var(--color-dark-blue);
  }
}