.simulator {

  .steps {
    display: flex;
    justify-content: space-between;
    outline: 2px solid var(--color-dark-blue);
    border: 3px solid var(--color-white);
    border-radius: 99rem;
    overflow: hidden;
    padding: 0;

    li {
      position: relative;
      border-radius: 99rem;
      @include square(1.5rem);
      @include row(center, center);
      font-weight: 800;
      &.active {
        background: var(--color-light-blue-1);
        &:before {
          position: absolute;
          right: 0;
          top: 0;
          bottom: 0;
          width: 100vw;
          content:"";
          background: var(--color-light-blue-1);
          z-index: -1;
          border-radius: 99px;
        }
      }

    }
  }
  form.simulator-content {
    padding: 1rem 0;
    @include column;
    gap: pxrem(20);

    //&:not(.valid){
    //  .navigation .next {
    //    opacity: 0;
    //    pointer-events: none;
    //  }
    //}
    //.navigation .next {
    //  opacity: 1;
    //  transition: all 0.5s ease;
    //}

  }
  .steps-container {
    padding: 0;
    margin: 0;
    width: 100%;
    li {
      list-style: none;
      &:not(.active){ display: none; }

      .address {
        @include column;
        gap: 0.5em;

        .address-options-wrapper {
          display: grid;
          transition: all ease 0.5s;
          grid-template-rows: 1fr;
          &.hidden {
            grid-template-rows: 0fr;
          }
          .address-options {
            @include column;
            gap: 0.2em;
            font-size: 0.8em;
            overflow: hidden;
            @include mobile {
              flex-direction: column-reverse;
            }
            > * {
              padding: 1em;
              border-radius: pxrem(17);
              background: var(--color-light-blue-1);
              margin-top: 0.2em;
              cursor: pointer;
              &:hover {
                color: var(--color-white);
                background: var(--color-light-blue);
              }
            }
          }
        }

        @include mobile {
          display: flex;
          flex-direction: column-reverse;
        }
      }

      .parking {
        input[name="area"] {
          opacity: 0;
          pointer-events: none;
          position: absolute;
        }
        .separator {
          color: var(--color-blue);
          text-transform: uppercase;
          display: flex;
          align-items: center;
          gap: 0.5rem;
          margin: 1rem;

          &:before, &:after {
            content: "";
            height: 2px;
            background: var(--color-light-grey);
            flex-grow: 1;
          }
        }
        .map-toggle {
          @include column(center);
          button {
            border: unset;
            background: var(--color-light-blue-2);
            @include row(center, center);
            border-radius: pxrem(17);
            padding: pxrem(10) pxrem(20);
            padding-left: pxrem(5);
            font-weight: 800;
            color: inherit;
            cursor: pointer;
            &:hover {
              color: var(--color-white);
              background: var(--color-light-blue);
            }
          }
        }
        .map-container {
          border-radius: pxrem(17);
          overflow: hidden;
          isolation: isolate;
          max-height: 50vh;
          &:not(.active){
            display: none;
          }
          &.interacted {
            .overlay {
              opacity: 0;
              pointer-events: none;
            }
          }
          .overlay {
            position: absolute;
            inset: 0;
            z-index: 10000000000;
            @include column(center, center);
            gap: 1rem;
            font-size: 1.2rem;
            opacity: 1;
            transition: 0.5s ease;
            &:before {
              position: absolute;
              content: "";
              inset: 0;
              background: var(--color-dark-blue);
              opacity: 0.7;
              z-index: -1;
            }
            strong {
              color: var(--color-white);
            }
          }
        }
      }
    }
  }
  .leaflet-container {
    height: 600px;
    cursor: copy;
    .controls-container {
      position: absolute;
      right: 1rem;
      top: 1rem;
      z-index: 1000;
      display: flex;
      flex-direction: column;
      gap: 0.2rem;
      display: none;

      .area-control {
        display: flex;
        flex-direction: column;
        cursor: pointer;

        padding: 0.2rem 0.4rem;
        border-radius: 0.5rem;
        background: var(--color);
      }
      .add {
        order: 1;
        cursor: pointer;
      }
    }
    .leaflet-tooltip {
      background: transparent;
      border: transparent;
      color: white;
      box-shadow: unset;
      font-weight: bold;
      font-size: 2rem;
      text-shadow: 0 0 0.3rem rgba(0,0,0,1);
      &:before {
        content: unset;
      }
    }

    .area-point {
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: all-scroll;
      > span {
        transform: scale(1);
        transition: 0.1s ease;
      }
      &:hover > span {
        transform: scale(1.5);
      }

      > span {
        display: block;
        border-radius: 50%;
        width: 1rem;
        aspect-ratio: 1;
        background: var(--color);
        position: relative;
        &:before {
          position: absolute;
          content:"";
          border: 2px solid var(--color-white);
          inset: 0;
          border-radius: 50%;
        }
      }

    }
  }
  .navigation {
    width: 100%;
    @include row(space-between, center);
    gap: pxrem(20);
    .prev {
      @include square(3rem);
      @include center;
    }
    .prev, .next {
      border: 2px solid var(--color-dark-blue);
      border-radius: 999rem;
    }
    .next {
      padding: 1rem;
      @include button;
      flex-grow: 1;
      text-transform: uppercase;
    }
  }
  > .simulator-results {
    display: none;
    &.active {
      display: block;
    }
  }
}