<div class="swiper">
    {% if title %}
        <h2>{{ title }}</h2>
    {% endif %}
    <div class="items swiper-wrapper">
        {% for item in items %}
        <div class="swiper-slide">
            {{ item | raw }}
        </div>
        {% endfor %}
    </div>
    <div class="swiper-pagination"></div>
</div>