<div class="testimony-item">
    <div class="description">
        {{ description | raw }}
    </div>
    <div class="row">
        <figure>
            <img src="{{ logo }}" alt="">
        </figure>
        <div class="information">
            <strong>{{ title }}</strong>
            <small>{{ job }}</small>
        </div>
    </div>
    <a href="">
        <span>En savoir plus</span>
        <svg width="34" height="34" viewBox="0 0 34 34" fill="none" xmlns="http://www.w3.org/2000/svg">
            <rect x="1.87451" y="1.76172" width="31" height="31" rx="15.5" stroke="black" stroke-width="2"/>
            <path d="M12.5708 12.4584L22.1777 12.4583M22.1777 12.4583L22.1777 22.0653M22.1777 12.4583L12.5708 22.0652" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
    </a>
</div>